.boarderDiv {
  border: 1px solid #dddddd;
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
}

ul {
  margin-bottom: 20px;
}

.firstPortion,
.secondPortion,
.thirdPortion {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-left: 20px;
}

.cityInputBar {
  width: 60%;
  border: 1px solid #dddddd;
  padding: 6px 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cityInputBar::placeholder {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  color: #dddddd;
  font-weight: 700;
}

.cityInputBar:hover {
  cursor: pointer;
  border: 1px solid #dddddd;
}

.searchButton {
  border: 1px solid #dddddd;
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  color: #dddddd;
  font-weight: 700;
  padding: 6px 10px;
  background-color: #ffffff;
  border-radius: 4px;
}

.cityPlaceholder,
.currentDayAndTime,
.exactTemp,
.weatherConditionDescription {
  text-align: left;
  margin-bottom: 20px;
  font-family: "Gloock", serif;
}

.cityPlaceholder {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0px;
}

.currentDayAndTime {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 0;
}

.weatherConditionDescription {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 0;
}
.exactTemp,
.emojiSymbol {
  font-size: 50px;
}
.emojiSymbol {
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 10px;
}
.exactTemp,
.degreesUnits {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.degreesUnits {
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0px;
  margin-left: 5px;
  margin-right: 0px;
  font-size: 15px;
}

a {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
}

.unitsDivider {
  color: black;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-top: 10px;
}

.humidityAttribute,
.windAttribute {
  font-family: "Manrope", sans-serif;
  margin-left: 0px;
  padding-left: 0px;
}

.monday,
.tuesday,
.wednesday,
.thursday,
.friday {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-left: 10px;
  margin-right: 0;
  padding: 0px;
}

.EmojiSymbolZero,
.EmojiSymbolOne,
.EmojiSymbolTwo,
.EmojiSymbolThree,
.EmojiSymbolFour {
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-left: 10px;
  margin-right: 0;
  padding: 0px;
}

.author {
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin: 5px;
}
