.boarderDiv {
  border: 1px solid #dddddd;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
}

ul {
  margin-bottom: 20px;
}

.firstPortion,
.secondPortion,
.thirdPortion,
.fourthPortion {
  padding-top: 0px;
  padding-bottom: 0px;
  max-width: 100%;
  width: 600px;
  margin-left: 35px;
}

.cityInputBar {
  width: 60%;
  border: 1px solid #dddddd;
  padding: 6px 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cityInputBar::placeholder {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  color: #dddddd;
  font-weight: 700;
}

.cityInputBar:hover {
  cursor: pointer;
  border: 1px solid #dddddd;
}

.searchButton {
  border: 1px solid #dddddd;
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  color: #dddddd;
  font-weight: 700;
  padding: 6px 10px;
  background-color: #ffffff;
  border-radius: 4px;
}

.cityPlaceholder,
.currentDayAndTime,
.exactTemp,
.weatherConditionDescription {
  text-align: left;
  margin-bottom: 20px;
  font-family: "Gloock", serif;
}

.cityPlaceholder {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0px;
}

.currentDayAndTime {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 0;
}

.weatherConditionDescription {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 0;
  text-transform: capitalize;
}
p.exactTemp {
  font-size: 50px;
  padding: 0;
  margin: 0;
  display: inline;
}
.emojiSymbol {
  padding: 0;
  margin: 0;
}

.mainEmojiSymbol {
  position: relative;
  bottom: 14px;
}

span.degreesUnits {
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 0px;
  padding-top: 15px;
  margin-left: 5px;
  margin-right: 0px;
  font-size: 18px;
  position: absolute;
}

a {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
}

.active {
  color: black;
}

.active:hover {
  cursor: default;
}

.unitsDivider {
  color: black;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-top: 10px;
}

.humidityAttribute,
.windAttribute {
  font-family: "Manrope", sans-serif;
  margin-left: 0px;
  padding-left: 0px;
}

.weeklyForecast {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-right: 0;
  padding: 0px;
}

p.weeklyForecast,
.minTemp {
  margin-bottom: 0;
  opacity: 0.6;
}

div#forecast.col-2 {
  text-align: center;
}
.temperatureImageSymbol {
  height: 50px;
  text-align: center;
}
.forecastAlign {
text-align: center;
margin: 2px;
padding-bottom: 20px;
}
.minTemp,
.maxTemp {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  text-align: center;
  margin-right: 0px;
  margin-bottom: 20px;
  padding: 0px;
}

p.highAndLow {
  text-align: center;
  font-size: 16px;
}

.author {
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin: 5px;
}
